body{
	margin: 0;
	padding: 0;
}
.clear{
	clear: both;
}
header{
	background-color: rgb(0,0,0,.5);
	position: absolute;
	width: 100%;
	z-index: 1;
}
.img{
	height: 100vh;
	background-size: cover;


}
header .name{
	width: 300px;
	color: red;
	display: inline-block;
	margin: 20px;	
}
header nav{
	float: right;
	list-style: none;
	margin-top: 40px;
}
header nav li{
	display: inline-block;
	list-style: none;
}
header li a{
	padding: 5px 20px;
	font-size: 20px;
	font-family: bold;

}
/*.opacity{	
	position: absolute;
	width: 100%;
	height: 100vh;
	background-color: black;
	opacity: .3;
}*/

.main-nav li .active1{
	border: 1px solid white;
	color: white;
	text-decoration: none;

}
.main-nav li .active{
	color: white;
	text-decoration: none;
}
.main-nav li a:hover{
	border: 1px solid red;
}

/*HOME*/
.entry{
	position: relative;
	margin-bottom: -4px;
}
.entry .text{
	position: absolute;
	top: 300px;
	left: 50%;
	transform: translate(-50%,0);
}
.entry .text h2{
	font-size: 60px;
	color: white;
	font-family: "Roboto", sans-serif;

}	
.button{
	position: absolute;
	top: 400px;
	left: 50%;
	transform: translate(-50%,0);
}
.button a{
	color: white;
	background-color: rgb(0,0,0,.3);
	font-size: 18px;
}
.btn{
	border: 1px solid white;
	padding: 10px 30px;
	color: white;
	text-decoration: none;
	margin-right: 7px;
	font-size: 15px;
	text-transform: uppercase;
	font-family: bold;
}

.btn-two:hover{
	background-color: #808080;
	transition: all 0.5s ease-in;
}
.button .btn{
	color: white;
}
.button .btn:hover{
	color: #DCDCDC;
}

/*MENU*/

.gallery {
	padding: 20px;
}
.gallery h2{
	margin-top: 70px;
	text-align: center;
    font-size: 50px;
   
}
.gallery .h2{
	margin: 10px;
}
.gallery .div{	
	margin: 5px;
	border: 5px solid #222;
    position: relative;
    float: left;
    width: 32.2%;
    overflow: hidden;
}
.gallery h3{
    position: absolute;
    top: 0px;
    color: white;
    font-size: 30px;
    font-style: italic;
    padding: 10px;
    border-left: 10px solid #c69054;
    background-color: rgba(0,0,0,.3);
}
.gallery img{
    height: 350px;
    object-fit: cover;
    width: 100%;
    transition: 1s;
}
.gallery>div:hover img{
    transform: scale(1.2);
}
.gallery a{
	position: absolute;
    display: block;
    top: 80%;
    left: 50%;
    text-decoration: none;
    transform: translate(-50%,0);
    padding: 5px 10px 5px 10px;
    margin-right: -50px;
    font-size: 25px;
    font-family: arrial;
    border: 2px solid red;
    max-width: 200px;
    background-color: rgba(0,0,0,0.5);
    color: white;
    margin: auto;
}
.gallery a:hover{
	color: red;
}
/*.gallery{
	background-color: #e8e8e8;
}
.gallery>h3{
	font-size: 40px;
	text-align: center;
	color: red;
	margin: 0;
	padding: 20px;
}
.gallery .block{
	position: relative;
	width: 33.3333%;
	padding: 20px;
	height: 400px;
	box-sizing: border-box;
	float: left;
}

*/

/*NEWS*/
.news{
	margin-bottom: 10px;
}
.news h2{
	font-size: 50px;
	margin: 10px;
}
.news .h2{
	margin-left: 10px;
}
.news .news_1{
	border-top: 10px solid  #222;
	width: 50%;
	float: left;
	overflow: hidden;
}
.news .h3{
	transform: translate(100%,0);
	width: 200px;
	text-align: center;
	border-bottom: 5px solid red;
	font-size: 30px;
	font-family: bold;
}
.news img{
	width: 100%;
	height: 100%;
	object-fit: cover;
	border: 10px solid #222;
	border-top: 0;
	transition: 1s;
}
.news img:hover{
	transform: scale(1.2);
}
.news p{
	padding: 30px;
	font-size: 20px;
}

/*About us*/

.carousel .carousel-inner{
	height: 700px;
	background-size: cover;
}

.about
{
	border-bottom: 10px solid #222;
	margin: 0;
}
.about h2{
	font-size: 50px;
	margin-left: 10px;
}

/*Contacs*/

.contacts{	
	border-bottom: 5px solid #222;
}
.contacts>div{
	width: 50%;
	float: left;
}
.contacts .coninf{
    padding: 30px;
    box-sizing: border-box;
}
.contacts .contact{
    padding: 80px;
    box-sizing: border-box;
    width: 660px;
    margin-left: -330px;
    position: relative;
    left: 50%;
}
.coninf{
	background-color: white;
	border-top: 10px solid #222;
	text-align: center;
	padding: 10px;
}
.contacts .coninf p{
    text-align: center;
    
    font-size: 20px;
}
.contact h3{
	text-align: center;
	font-size: 40px;
}
.contact input{
	background-color: transparent;
	border: 2px solid red;
	padding: 10px;
	box-sizing: border-box;
	width: 100%;
	margin-bottom: 20px;
	color: black;
}
.iframe{
	border-top: 10px solid #222;
}
.contact button{
	background-color: red;
	border: none;
	padding: 8px;
	width: 100%;
	font-size: 20px;
}
.contact input:focus{
	outline: none;
	border-bottom: 2px solid green;
}
.contact button:hover{
    background-color: green;
    transition: .2s;
}	
footer{
	background-color: #F2F2F2;
	color: black;
	padding: 15px;
}

/* Footer */
footer p{
	text-align: center;
	font-size: 20px;
} 